---
name: pocket-id

networks:
  frontend:
    external: true

services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1-distroless
    read_only: true
    user: 1002:1002
    # Optional healthcheck
    restart: unless-stopped
    healthcheck:
      test: [CMD, /app/pocket-id, healthcheck]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    environment:
      APP_URL: "${APP_URL:-https://pocket-id.iad1.jakerob.pro}"
      TRUST_PROXY: "${TRUST_PROXY:-false}"
      MAXMIND_LICENSE_KEY: "${MAXMIND_LICENSE_KEY:-}"
    networks:
      - frontend
    volumes:
      - ./data:/app/data
    labels:
      traefik.enable: true
      traefik.external: true
      traefik.http.routers.pocketid-prod-1-http.entrypoints: web
      traefik.http.routers.pocketid-prod-1-http.rule: Host(`pocket-id.iad1.jakerob.pro`)
      traefik.http.routers.pocketid-prod-1-https.entrypoints: websecure
      traefik.http.routers.pocketid-prod-1-http.middlewares: "websecure-redirect-permanent@file"
      traefik.http.routers.pocketid-prod-1-https.rule: Host(`pocket-id.iad1.jakerob.pro`)
      traefik.http.routers.pocketid-prod-1-https.tls: true
      traefik.http.routers.pocketid-prod-1-https.tls.certresolver: production
