# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json

# Tunnel sitting in between Cloud Traefik and Local Traefik

# Needed for health check
ping:
  terminatingStatusCode: 204

global:
  checkNewVersion: false
  sendAnonymousUsage: false

# -- (Optional) Change Log Level and Format here...
#     - loglevels [DEBUG, INFO, WARNING, ERROR, CRITICAL]
#     - format [common, json, logfmt]
log:
  level: WARN
#  format: common
#  filePath: /var/log/traefik/traefik.log

# -- (Optional) Enable Accesslog and change Format here...
#     - format [common, json, logfmt]
# accesslog:
#   format: common
#   filePath: /var/log/traefik/access.log

# -- (Optional) Enable API and Dashboard here, don't do in production
api:
  dashboard: true
  insecure: true # TODO: Expose the dashboard securely

# -- Change EntryPoints here...
entryPoints:
  web:
    address: :80
    
  websecure:
    address: :443

# -- (Optional) Disable TLS Cert verification check
serversTransport:
  insecureSkipVerify: true

# -- (Optional) Overwrite Default Certificates
# tls:
#   stores:
#     default:
#       defaultCertificate:
#         certFile: /traefik/certs/cert.pem
#         keyFile: /traefik/certs/cert-key.pem
# -- (Optional) Disable TLS version 1.0 and 1.1
#   options:
#     default:
#       minVersion: VersionTLS12

providers:
  file:
    directory: /traefik/conf
    watch: false
