---
name: immich

networks:
  frontend:
    external: true
  internal:
    external: false

services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.3.1
    container_name: immich_server
    user: 1000:1000
    security_opt:
      # Prevent escalation of privileges after the container is started
      - no-new-privileges:true
    cap_drop:
      # Prevent access to raw network traffic
      - NET_RAW
    depends_on:
      - redis
      - database
    restart: unless-stopped
    healthcheck:
      disable: false
    environment:
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_USERNAME: "${DB_USERNAME}"
      DB_HOSTNAME: database
      DB_DATABASE_NAME: "${DB_DATABASE_NAME}"
    networks:
      - frontend
      - internal
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /media/immich:/data
      - /etc/localtime:/etc/localtime:ro
    labels:
      traefik.enable: true
      traefik.docker.network: frontend
      traefik.http.routers.immich-prod-1-http.entrypoints: web
      traefik.http.routers.immich-prod-1-http.rule: Host(`photos.jakerob.pro`)
      traefik.http.routers.immich-prod-1-http.middlewares: "websecure-redirect-permanent@file"
      traefik.http.routers.immich-prod-1-https.entrypoints: websecure
      traefik.http.routers.immich-prod-1-https.rule: Host(`photos.jakerob.pro`)
      traefik.http.routers.immich-prod-1-https.tls: true
      traefik.http.routers.immich-prod-1-https.tls.certresolver: cloudflare

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.3.1
        # extends: # uncomment this section for hardware acceleration - see https://immich.app/docs/features/ml-hardware-acceleration
        #   file: hwaccel.ml.yml
        #   service: cpu # set to one of [armnn, cuda, openvino, openvino-wsl] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    container_name: immich_machine_learning
        # For hardware acceleration, add one of -[armnn, cuda, openvino] to the image tag.
        # Example tag: ${IMMICH_VERSION:-release}-cuda
    user: 1000:1000
    security_opt:
      # Prevent escalation of privileges after the container is started
      - no-new-privileges:true
    cap_drop:
      # Prevent access to raw network traffic
      - NET_RAW
    restart: unless-stopped
    healthcheck:
      disable: false
    environment:
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_USERNAME: "${DB_USERNAME}"
      DB_HOSTNAME: database
      DB_DATABASE_NAME: "${DB_DATABASE_NAME}"
    networks:
      - internal
    volumes:
      - ./model-cache:/cache

  redis:
    image: "docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571"
    container_name: immich_redis
    restart: unless-stopped
    healthcheck:
      test: "redis-cli ping || exit 1"
    networks:
      - internal

  database:
    image: "ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:41eacbe83eca995561fe43814fd4891e16e39632806253848efaf04d3c8a8b84"
    container_name: immich_postgres
    user: 1000:1000
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_DB: "${DB_DATABASE_NAME}"
      POSTGRES_INITDB_ARGS: "--data-checksums"
    networks:
      - internal
    volumes:
      - ./database:/var/lib/postgresql/data
    shm_size: 128mb
