.vscode/**
.obsidian
.obsidian/**
.DS_Store

**/.envrc
**/.env

.devcontainer/devcontainer-lock.json

**/.terraform
**/.terraform.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.auto.tfvars

**/*.auto.pkrvars.hcl
packer-*.log
packer_cache/
*.iso
*.box
*.ova

**/mise.local.toml

kubernetes/clusters/prod/controlplane.yaml
kubernetes/clusters/prod/demo-patch.yaml
kubernetes/clusters/prod/worker.yaml
kubernetes/clusters/prod/talosconfig
