# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json

# Needed for health check
ping:
  terminatingStatusCode: 204

tracing:
  otlp:
    grpc:
      endpoint: "alloy:4137"
      insecure: true

global:
  checkNewVersion: false
  sendAnonymousUsage: false

# -- (Optional) Change Log Level and Format here...
#     - loglevels [TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and PANIC]
#     - format [common, json, logfmt]
log:
  level: INFO
  format: json
  otlp:
    grpc:
      endpoint: alloy:4137
      insecure: true

experimental:
  otlpLogs: true

#  format: common
#  filePath: /var/log/traefik/traefik.log

# -- (Optional) Enable Accesslog and change Format here...
#     - format [common, json, logfmt]
# accesslog:
#   format: common
#   filePath: /var/log/traefik/access.log

# -- (Optional) Enable API and Dashboard here, don't do in production
api:
  dashboard: true
  insecure: false

# -- Change EntryPoints here...
entryPoints:
  web:
    address: :80
    # -- (Optional) Redirect all HTTP to HTTPS
    # http:
    #   redirections:
    #     entryPoint:
    #       to: websecure
    #       scheme: https
  websecure:
    address: :443
    http:
      middlewares:
        - identify-node@file
  # -- (Optional) Add custom Entrypoint
  # custom:
  #   address: :8080

# -- Configure your CertificateResolver here...
certificatesResolvers:
  cloudflare:
    acme:
      email: jroberts.g1ql8@simplelogin.com
      storage: /traefik/certs/cloudflare-acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

# -- (Optional) Disable TLS Cert verification check
# serversTransport:
#   insecureSkipVerify: true

# -- (Optional) Overwrite Default Certificates
# tls:
#   stores:
#     default:
#       defaultCertificate:
#         certFile: /traefik/certs/cert.pem
#         keyFile: /traefik/certs/cert-key.pem
# -- (Optional) Disable TLS version 1.0 and 1.1
#   options:
#     default:
#       minVersion: VersionTLS12

providers:
  docker:
    # -- (Optional) Enable this, if you want to expose all containers automatically
    exposedByDefault: false
    constraints: "!Label(`traefik.external`,`true`)"
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    network: frontend
  file:
    directory: /traefik/conf/
    watch: false
