---
name: joplin

networks:
  frontend:
    external: true
  internal:
    external: false

services:
  joplin:
    image: docker.io/joplin/server:2
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - 22300:22300
    environment:
      APP_PORT: '22300'
      APP_BASE_URL: "${APP_BASE_URL:-https://joplin.jakerob.pro}"
      DB_CLIENT: pg
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DATABASE: "${POSTGRES_DATABASE}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
      POSTGRES_HOST: db
    networks:
      - frontend
      - internal
    labels:
      traefik.enable: true
      traefik.external: true
      traefik.http.services.joplin-prod-1.loadbalancer.server.port: 22300
      traefik.http.routers.joplin-prod-1-http.entrypoints: web
      traefik.http.routers.joplin-prod-1-http.rule: Host(`joplin.jakerob.pro`)
      traefik.http.routers.joplin-prod-1-https.entrypoints: websecure
      traefik.http.routers.joplin-prod-1-https.rule: Host(`joplin.jakerob.pro`)
      traefik.http.routers.joplin-prod-1-https.tls: true
      traefik.http.routers.joplin-prod-1-https.tls.certresolver: production
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_DB: "${POSTGRES_DATABASE}"
    networks:
      - internal
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
