---
name: joplin

networks:
  frontend:
    external: true
  internal:
    external: false

services:
  joplin:
    image: docker.io/11notes/joplin:3
    user: "${DOCKER_USER_ID:-2021}:${DOCKER_GROUP_ID:-2021}"
    # prevents write access to the image itself
    read_only: true
    # prevents any process within the container to gain more privileges
    security_opt:
      - "no-new-privileges=true"
    depends_on:
      db:
        condition: "service_healthy"
        restart: true
    restart: unless-stopped
    environment:
      TZ: "${TZ:-UTC}"
      APP_PORT: '22300'
      APP_BASE_URL: "${APP_BASE_URL:-https://joplin.jakerob.pro}"
      DB_CLIENT: pg
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DATABASE: "${POSTGRES_DATABASE:-joplin}"
      POSTGRES_USER: "${POSTGRES_USER:-joplin}"
      POSTGRES_PORT: "${POSTGRES_PORT:-5432}"
      POSTGRES_HOST: db
    networks:
      - frontend
      - internal
    volumes:
      - "./data/joplin/etc:/joplin/etc"
      - "./data/joplin/var:/joplin/var"
    tmpfs:
      # required for read-only
      - "/tmp:uid=${DOCKER_USER_ID:-2021},gid=${DOCKER_GROUP_ID:-2021}"
    labels:
      traefik.enable: true
      traefik.external: true
      traefik.http.services.joplin-prod-1.loadbalancer.server.port: 22300
      traefik.http.routers.joplin-prod-1-http.entrypoints: web
      traefik.http.routers.joplin-prod-1-http.rule: Host(`joplin.jakerob.pro`)
      traefik.http.routers.joplin-prod-1-https.entrypoints: websecure
      traefik.http.routers.joplin-prod-1-https.rule: Host(`joplin.jakerob.pro`)
      traefik.http.routers.joplin-prod-1-https.tls: true
      traefik.http.routers.joplin-prod-1-https.tls.certresolver: production
  db:
    image: "11notes/postgres:18"
    user: "${DOCKER_USER_ID:-2021}:${DOCKER_GROUP_ID:-2021}"
    # prevents write access to the image itself
    read_only: true
    # prevents any process within the container to gain more privileges
    security_opt:
      - "no-new-privileges=true"
    restart: unless-stopped
    environment:
      TZ: "${TZ:-UTC}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_USER: "${POSTGRES_USER:-joplin}"
      POSTGRES_DB: "${POSTGRES_DATABASE:-joplin}"
      POSTGRES_BACKUP_SCHEDULE: "0 3 * * *"
    volumes:
      - "./data/postgres/etc:/postgres/etc"
      - "./data/postgres/var:/postgres/var"
      - "./data/postgres/backup:/postgres/backup"
    tmpfs:
      - "/postgres/run:uid=${DOCKER_USER_ID:-2021},gid=${DOCKER_GROUP_ID:-2021}"
      - "/postgres/log:uid=${DOCKER_USER_ID:-2021},gid=${DOCKER_GROUP_ID:-2021}"
    networks:
      - internal
