---
all:
  hosts:
    # Raspberry Pi Model 3
    lhr1-pi-1:
      ansible_user: jacobroberts

    lhr1-node-1:
      ansible_user: jacobroberts
      ansible_host: lhr1-node-1.jakerob.pro

    lhr1-node-2:
      ansible_user: jacobroberts
      ansible_host: lhr1-node-2.jakerob.pro

    lhr1-hv-1:
      ansible_user: root
      ansible_host: lhr1-hv-1.jakerob.pro

    lhr1-storage-1:
      ansible_user: truenas_admin
      ansible_host: lhr1-storage-1.jakerob.pro

    iad1-vpn-node-1:
      ansible_user: jacobroberts
      ansible_host: iad1-vpn-node-1.jakerob.pro

    iad1-vpn-node-2:
      ansible_user: jacobroberts
      ansible_host: iad1-vpn-node-2.jakerob.pro

    iad1-vpn-node-3:
      ansible_user: jacobroberts
      ansible_host: iad1-vpn-node-3.jakerob.pro

    slc1-node-3:
      ansible_user: jacobroberts
      ansible_host: slc1-node-3.jakerob.pro

    sgu1-node-1:
      ansible_user: jacobrobert
      ansible_host: sgu1-node-1.jakerob.pros

    slc1-pi-1:
      ansible_user: jacobroberts
      ansible_host: 192.168.42.137 ## TODO: Move to real IP

  children:
    bootstrap:
      hosts:
        lhr1-node-1:

    docker:
      hosts:
        lhr1-node-1:
        lhr1-node-2:
        iad1-vpn-node-1:
        iad1-vpn-node-2:
        iad1-vpn-node-3:
        slc1-node-3:
        sgu1-node-1:
    qemu:
      hosts:
        lhr1-node-1:
        sgu1-node-1:
        slc1-node-3:

    pihole:
      hosts:
        lhr1-pi-1:

    tailscale:
      hosts:
        lhr1-node-1:

    nut_primary:
      hosts:
        lhr1-pi-1:
        slc1-pi-1:
    nut_clients:
      hosts:
        # lhr1-storage-1: Truenas doesn't like to be configured by ansible
        lhr1-hv-1: