apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
  interval: 1h
  values:
    service:
      type: NodePort
    ports:
      web:
        nodePort: 30080 # This will be your HTTP port
      websecure:
        nodePort: 30443 # This will be your HTTPS port