ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.lhr1-k.jakerob.pro`)
    entryPoints:
      - web
providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All