http:
  services:
    lhr1-tunnel:
      loadBalancer:
        servers:
          - url: https://lhr1-node-1.vpn.jakerob.pro

    slc1-tunnel:
      loadBalancer:
        servers:
          - url: https://slc1-node-3.vpn.jakerob.pro

  routers:
    # WHOAMI LHR1
    whoami-tunnel-lhr1-http:
      entrypoints: web
      rule: "Host(`whoami-tunnel.lhr1.jakerob.pro`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: lhr1-tunnel
    whoami-tunnel-lhr1-https:
      entrypoints: websecure
      rule: "Host(`whoami-tunnel.lhr1.jakerob.pro`)"
      service: lhr1-tunnel
      tls: true

    immich-lhr1-http:
      entrypoints: web
      rule: "Host(`photos.jakerob.pro`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: lhr1-tunnel
    immich-lhr1-https:
      entrypoints: websecure
      rule: "Host(`photos.jakerob.pro`)"
      service: lhr1-tunnel
      tls: true

    jellyfin-lhr1-http:
      entrypoints: web
      rule: "Host(`jellyfin.jakerob.pro`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: lhr1-tunnel
    jellyfin-lhr1-https:
      entrypoints: websecure
      rule: "Host(`jellyfin.jakerob.pro`)"
      service: lhr1-tunnel
      tls: true

    karakeep-lhr1-http:
      entrypoints: web
      rule: "Host(`karakeep.jakerob.pro`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: lhr1-tunnel
    karakeep-lhr1-https:
      entrypoints: websecure
      rule: "Host(`karakeep.jakerob.pro`)"
      service: lhr1-tunnel
      tls: true

    calibre-lhr1-http:
      entrypoints: web
      rule: "Host(`calibre.jakerob.pro`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: lhr1-tunnel
    calibre-lhr1-https:
      entrypoints: websecure
      rule: "Host(`calibre.jakerob.pro`)"
      service: lhr1-tunnel
      tls: true

    pocket-id-lhr1-http:
      entrypoints: web
      rule: "Host(`pocket-id.lhr1.jakerob.pro`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: lhr1-tunnel
    pocket-id-lhr1-https:
      entrypoints: websecure
      rule: "Host(`pocket-id.lhr1.jakerob.pro`)"
      service: lhr1-tunnel
      tls: true

    whoami-tunnel-slc1-http:
      entrypoints: web
      rule: "Host(`whoami-tunnel.slc1.jakerob.pro`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: slc1-tunnel
    whoami-tunnel-slc1-https:
      entrypoints: websecure
      rule: "Host(`whoami-tunnel.slc1.jakerob.pro`)"
      service: slc1-tunnel
      tls: true

    pocket-id-slc1-http:
      entrypoints: web
      rule: "Host(`auth.autovation.com`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: slc1-tunnel
    pocket-id-slc1-https:
      entrypoints: websecure
      rule: "Host(`auth.autovation.com`)"
      service: slc1-tunnel
      tls: true

    photos-slc1-http:
      entrypoints: web
      rule: "Host(`photos.autovation.com`)"
      middlewares:
        - websecure-redirect-permanent@file
      service: slc1-tunnel
    photos-slc1-https:
      entrypoints: websecure
      rule: "Host(`photos.autovation.com`)"
      service: slc1-tunnel
      tls: true

    # WHOAMI SLC1
    # whoami-slc1-http:
    #   entrypoints: web
    #   rule: "Host(`whoami-tunnel-slc1.jakerob.pro`)"
    #   middlewares:
    #     - websecure-redirect-permanent@file
    #   service: slc1-tunnel
    # whoami-slc1-https:
    #   entrypoints: websecure
    #   rule: "Host(`whoami-tunnel-slc1.jakerob.pro`)"
    #   service: slc1-tunnel
    #   tls:
    #     certresolver: production

    # # WORDPRESS PERSONAL LHR1
    # wordpress-personal-lhr1-http:
    #   entrypoints: web
    #   rule: "Host(`wordpress.jakerob.pro`)"
    #   middlewares:
    #     - websecure-redirect-permanent@file
    #   service: lhr1-tunnel
    # wordpress-personal-lhr1-https:
    #   entrypoints: websecure
    #   rule: "Host(`wordpress.jakerob.pro`)"
    #   service: lhr1-tunnel
    #   tls:
    #     certresolver: production
