---
# =============================================================================
# Users & Groups Setup
# =============================================================================
# Run: ansible-playbook playbooks/00-create-user.yaml
#
# This playbook:
# - Creates human user account to allow the rest of setup
# =============================================================================

- name: Users & Groups Setup
  hosts: "{{ target_host | default('lhr1-node-1') }}"
  become: true

  vars_files:
    - ../vars/main.yaml

  tasks:
    - name: Create initial user
      ansible.builtin.user:
        name: "{{ initial_user }}"
        state: present
        shell: /bin/bash
        groups: sudo
        append: true
        create_home: true

    - name: Upload SSH authorized keys for initial user
      ansible.builtin.authorized_key:
        user: "{{ initial_user }}"
        state: present
        key: "{{ initial_user_ssh_key }}"

    - name: Create sudoers file for admin users
      ansible.builtin.file:
        path: /etc/sudoers.d/admins
        state: touch
        mode: "0440"

    - name: Allow admin users passwordless sudo
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/admins
        line: "{{ initial_user }} ALL=(ALL) NOPASSWD:ALL"
        state: present
        regexp: "^{{ initial_user }} ALL="
        validate: '/usr/sbin/visudo -cf %s'

    - name: Ensure SSH password authentication is disabled
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
      notify: restart ssh

    - name: Disable password authentication for root
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        state: present
        regexp: "^#?PermitRootLogin"
        line: "PermitRootLogin prohibit-password"
      notify: restart ssh

    - name: Give next instructions
      ansible.builtin.debug:
        msg: |
          Initial user '{{ initial_user }}' created.
          You can now re-run the playbooks using this user for further setup.

  handlers:
    - name: restart ssh
      ansible.builtin.service:
        name: ssh
        state: restarted
