---
name: webnut

networks:
  frontend:
    external: true

volumes:
  config-data:
    external: true
    name: webnut-config-data

services:
  nut:
    image: ghcr.io/superioone/nut_webgui:0.8.1
    container_name: webnut
    read_only: true
    user: "${DOCKER_USER_ID:-2023}:${DOCKER_GROUP_ID:-2023}"
    group_add:
      - nut_webgui
    security_opt:
      - no-new-privileges:true
    depends_on:
      chown:
        condition: service_completed_successfully
    restart: unless-stopped
    environment:
      UPSD_ADDR: "${UPS_ADDR:-192.168.42.2}"
      UPSD_USER: "${UPS_USER:-observer}"
      UPSD_PASS: "${UPS_PASSWORD}"
    networks:
      - frontend
    volumes:
      - config-data:/etc/nut_webgui
    labels:
      traefik.enable: true
      traefik.http.services.webnut-prod-1.loadBalancer.server.port: 9000
      traefik.http.routers.webnut-prod-1-http.entrypoints: web
      traefik.http.routers.webnut-prod-1-http.rule: Host(`webnut.lhr1.jakerob.pro`)
      traefik.http.routers.webnut-prod-1-http.middlewares: "websecure-redirect-permanent@file"
      traefik.http.routers.webnut-prod-1-https.entrypoints: websecure
      traefik.http.routers.webnut-prod-1-https.rule: Host(`webnut.lhr1.jakerob.pro`)
      traefik.http.routers.webnut-prod-1-https.tls: true
      traefik.http.routers.webnut-prod-1-https.tls.certresolver: cloudflare

  # This image will mount the volume and then simply execute chown on the parent folder for the UID/GID specified.
  chown:
    image: alpine
    command:
      - |
        chown -R ${DOCKER_USER_ID:-2023}:${DOCKER_GROUP_ID:-2023} /etc/nut_webgui
    networks: []
    volumes:
      - config-data:/etc/nut_webgui
    stdin_open: true
    entrypoint: [/bin/ash, "-c"]
